<div class="modal-body pt-3 pb-0 px-0 m-0">
    <form class="text-center" (submit)="createEvento()">

      <div class="container-fluid">
        <div class="row">

          <div class="col">
              <div class="container-fluid bg-light py-2 formBorder">
                  <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" id="imagenEvento" alt="thumbnail" class="img-thumbnail"
                  style="width: 400px">
                </div>
              <div class="container-fluid">
                  <div class="input-file-container m-0 py-2">  
                      <input class="btn btn-light" id="my-file" type="file">
                      <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label>
                    </div>
              </div>
          </div>

          <div class="col pt-3">
              <div class="container">
                <h4>Creación de Evento</h4>
                <hr>
              </div>
              <div class="container-fluid mx-0 px-0">

                  <div class="col">
                      <label for="Titulo">Titulo Evento:</label>
                      <input type="text" id="Titulo" class="form-control">
                  </div>
                
              </div>

              <div class="container pt-2">
                  <div class="row">
                    <div class="col">
                        <label for="Titulo">Dirección:</label>
                        <input type="text" id="Titulo" class="form-control">
                    </div>
                    <div class="col">
                        <label for="Distrito">Distrito:</label>
                        <select class="browser-default custom-select" id="Distrito">
                            <option selected>La Molina</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                  </div>
                </div>

                
              <div class="container pt-2">
                  <div class="row">
                    <div class="col">
                        <label for="Personas">Máx Personas:</label>
                        <select class="browser-default custom-select" id="Distrito">
                            <option selected>10</option>
                            <option value="1">15</option>
                            <option value="2">25</option>
                            <option value="3">35</option>
                          </select>
                    </div>
                    <div class="col">
                        <label for="Distrito">Fecha Limite:</label>
                        <select class="browser-default custom-select" id="Distrito">
                            <option selected>17/12/2019</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                  </div>
                </div>
          </div>

        </div>
      </div>



        <button mdbBtn color="success" block="true" class="mt-4 btn btn-lg" type="submit">Confirmar</button>
      </form>
      <!-- Default form register -->
    </div>