<div class="modal-body">
<form class="text-center p-5">

    <p class="h4 mb-4">REGISTRO</p>

    <div class="form-row mb-4">
      <div class="col">
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
      </div>
    </div>

    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Correo Electrónico">

    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Contraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      Minimo 8 caracteres
    </small>
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Confirmar Contraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    
    <!-- Sign up button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Ingresar</button>

    <!-- Social register -->

    <hr>

    <!-- Terms of service -->
        <small><p>Una vez registrado y 
      <em>Logueado</em> Esta deacuerdo con
      <a href="" target="_blank">los terminos de servicio</a></p></small>
  </form>
  <!-- Default form register -->
</div>