<app-menu></app-menu>
<body class="vhpersonalizado">
    <div class="container-fluid bg-light">
        <div class="row">
          <div class="col-3 text-center">
            <div class="col">
                <div class="card border-success mt-5 formBorder z-depth-1 mb-3" style="max-width: 20rem;">
                   
                    <div class="card-body px-0">
                      <div class="container-fluid mx-0 border-bottom border-success">
                          <h5 class="card-title text-success">Opciones <i class="fas fa-exclamation"></i></h5>
                          <p class="card-text">Busca o filtra los eventos que te interesan</p>
                      </div>
                     

                      <div class="md-form active-pink active-pink-2 px-3">
                          <input class="form-control" type="text" placeholder="Titulo" aria-label="Search">
                        </div>

                      <div class="container">
                          <select class="browser-default custom-select px-3">
                              <option selected>Distrito</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-6 px-0 border-left bg-white border-right border-success z-depth-1">

            <div class="container-fluid border-bottom border-success py-3">
              <h5 class="m-0 p-0">
                <strong>Eventos</strong>
              </h5>
            </div>

            <div class="container-fluid mt-3 px-4 text-dark">

              <div class="container my-4 formBorder postEvento border border-light z-depth-1">
                <div class="row m-0 px-0 py-2">

                    <div class="col-md-1 postAvatar px-0">
                        <img height="60px" src="https://pbs.twimg.com/profile_images/1177465954671853573/6flnWrqK_400x400.jpg" class="rounded-circle float-right border border-light">
                     </div>

                     <div class="col pt-2 pl-2">
                      <div class="container p-0">
                          <p class="h6 m-0 p-0">
                              Jean Lui Ferrer <small><i class="fas fa-circle fa-xs"></i></small> 57 min
                              <button type="button" class="close" aria-label="Close">
                                  <i class="fas fa-angle-down fa-xs"></i>
                                </button> 
                            </p>
                            
                      </div>
                      
                      <div class="container px-0 pt-2">
                        <h3>Evento de Limpieza de Parques</h3>
                      </div>

                      <div class="container px-0">
                          <img src="https://e.an.amtv.pe/actualidad-contaminacion-ambiental-que-distritos-lima-acumulan-mas-cantidad-basura-n322897-612x408-470296.jpg" class="img-fluid formBorder">
                      </div>

                      <div class="container px-0">
                        <small>Villa Maria del Triunfo, Fecha Limite: 20/12/2019</small>
                      </div>

                     </div>
                     
                </div>

                <div class="row m-0 p-0">
                  <button mdbBtn class="col mx-0 px-0 formBorderLeft"  color="info" outline="true">
                      <i class="far fa-comments fa-lg"></i>
                  </button>
                  <button mdbBtn class="col mx-0 px-0"  color="warning" outline="true">
                      <i class="far fa-star fa-lg"></i>
                  </button>
                  <button mdbBtn class="col mx-0 px-0 formBorderRight"  color="info" outline="true">
                      <i class="fas fa-info fa-lg"></i>
                  </button>
                </div>
              </div>

              <div class="container my-4 formBorder postEvento border border-light z-depth-1">
                  <div class="row m-0 px-0 py-2">
  
                      <div class="col-md-1 postAvatar px-0">
                          <img height="60px" src="https://pbs.twimg.com/profile_images/1193452776476401664/A-a5TrM3_400x400.jpg" class="rounded-circle float-right border border-light">
                       </div>
  
                       <div class="col pt-2 pl-2">
                        <div class="container p-0">
                            <p class="h6 m-0 p-0">
                                jinny <small><i class="fas fa-circle fa-xs"></i></small> 2 dias
                                <button type="button" class="close" aria-label="Close">
                                    <i class="fas fa-angle-down fa-xs"></i>
                                  </button> 
                              </p>
                              
                        </div>
                        
                        <div class="container px-0 pt-2">
                          <h3>Limpieza de Playa!</h3>
                        </div>
  
                        <div class="container px-0">
                            <img src="https://www.bbva.com/wp-content/uploads/2018/10/Limpieza-de-Playas-1024x427.jpg" class="img-fluid formBorder">
                        </div>
  
                        <div class="container px-0">
                          <small>Chorrillos, Fecha Limite: 20/12/2019</small>
                        </div>
  
                       </div>
                       
                  </div>
  
                  <div class="row m-0 p-0">
                    <button mdbBtn class="col mx-0 px-0 formBorderLeft"  color="info" outline="true">
                        <i class="far fa-comments fa-lg"></i>
                    </button>
                    <button mdbBtn class="col mx-0 px-0"  color="warning" outline="true">
                        <i class="far fa-star fa-lg"></i>
                    </button>
                    <button mdbBtn class="col mx-0 px-0 formBorderRight"  color="info" outline="true">
                        <i class="fas fa-info fa-lg"></i>
                    </button>
                  </div>
                </div>

              
              
            </div>

          </div>
          <div class="col-3 text-center pt-5">
            <div class="container bg-light formBorderMin">
              <h6 class="p-3">Publicidad</h6>
            </div>
            <div class="container">
                <img src="https://www.circulodeespecialistas.pe/ces-m/images/20170717_banner-webCES-galeria.jpg" class="img-fluid  border border-info">
            </div>

          </div>
        </div>
      </div>
</body>